* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
}
html, body, .app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}
.main {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
}
.after::-webkit-scrollbar {
    width: calc(.6rem + 2px);
}

.after::-webkit-scrollbar-track {
    margin: 1px;
}
.after::-webkit-scrollbar-corner {
    display: none;
}
.after::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    border: solid transparent;
    background-clip: content-box;
    border-width: 1px 2px;
}