@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-user-drag: none;
}
html, body, .app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}
.main {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
}
@media screen and (max-width: 959px) {
    .main {
        flex-direction: column;
    }
}
::-webkit-scrollbar {
    width: calc(.6rem + 2px);
}
::-webkit-scrollbar-track {
    margin: 1px;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    border: solid transparent;
    background-clip: content-box;
    border-width: 1px 2px;
}